*.class

# Compiled Class Path
!bin
bin/*

# Include resources folder
!bin/res

# JCreator Project Files
*.jcp
*.jcu
*.jcw

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
